.head{
    background-color: #00A758;
    color: #ffffff;
    display: inline-block;
    height: 100vh;
    vertical-align: top;
    width: 29%;
    padding:10px;
}

.head .title{
    font-size: 2em;
}