.head{
    background-color: #00A758;
    color: #ffffff;
    display: inline-block;
    height: 100vh;
    vertical-align: top;
    width: 29%;
    padding:10px;
}

.head .title{
    font-size: 2em;
}

.body{
    display: inline-block;
    height: 100vh;
    width: 69%;
}

.nav{
    border-bottom: 1px solid lightgray;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #00A758;
    font-weight: bold;
    font-size: 1.3em;
}

.nav .previous{
    display: inline-block;
    width: 50%;
}

.nav .next{
    display: inline-block;
    width: 50%;
    text-align: right;
}

.elementList{
    padding:20px;
}

.diagnosisCodeElement{
    margin-bottom: 20px;
}

.diagnosisCodeElement .elementTitle{
    font-size: 1.2em;
    font-weight: bold;
    color: #00A758;
    margin-bottom: 5px;
}